@model Ski.Domain.Models.ListModel<Ski.Domain.Entities.Skii>

@{
    ViewData["Title"] = "Index";
    int prev = 0, next = 0;
    if (Model != null)
    {
        prev = Model.CurrentPage == 1
       ? 1
       : Model.CurrentPage - 1;
        next = Model.CurrentPage == Model.TotalPages
       ? Model.TotalPages
       : Model.CurrentPage + 1;
    }
}

<h1>Ski</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <p>
        </p>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Описание
            </th>
            <th>
                Фотография
            </th>
            <th>
                Категория
            </th>
            <th>
                Цена($)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SkiName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.Image" class="img-thumbnail w-50 h-50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.NormalizedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SkiId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SkiId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SkiId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Pager -->
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(prev==Model?.CurrentPage ? "disabled":"")">

                <a class="page-link "
                   asp-controller="Skiis"
                   asp-action="Index"
                   asp-route-pageno="@prev" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= Model?.TotalPages; i++)
            {
                <li class="page-item
            @(i==Model.CurrentPage?"active":"")">
                    <a class="page-link"
                       asp-controller="Skiis"
                       asp-action="Index"
                       asp-route-pageno="@i">
                        @i
                    </a>
                </li>
            }
            <li class="page-item @(next==Model?.CurrentPage ?"disabled":"")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-pageno="@next" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div> <!-- Pager -->
<pager page-current="@Model?.CurrentPage"
       page-total="@Model?.TotalPages"
       action="Index"
       controller="Skiis">
</pager>


<h2 class="text-warning">@ViewData["Error"]</h2>